# libraries
jupyter
pandas
numpy
scipy

# data source
kagglehub

# machine learning
scikit-learn

# pipeline and memoization
swifter
joblib
# dask[complete]

# local persistence
pyarrow

# natural language processing
nltk
wordcloud

# jupyter notebooks
# import_ipynb

# plotting libraries
matplotlib
seaborn
plotly

