# libraries
jupyter
pandas
numpy==1.26
scipy
tqdm

#geo mapping
geopandas
contextily
mapclassify

# data source
kagglehub

# machine learning
scikit-learn
xgboost
catboost
tf-keras

# local persistence
pyarrow

# natural language processing
nltk
wordcloud
spacy
sentence-transformers
einops

# plotting libraries
matplotlib
seaborn
plotly

