# libraries
pandas
numpy
scipy

# data source
kagglehub

# geocode api lookup
python-dotenv
ratelimit
requests
mapbox

# parallel processing
joblib
dask[complete]
swifter
swifter[notebook]
swifter[groupby]

# natural language processing
nltk
wordcloud

# jupyter notebooks
import_ipynb

# plotting libraries
matplotlib
seaborn
plotly

